body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto;
}

h1.title {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto, Medium;
	
}

h2.title {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: Roboto, Bold;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
}

.range .range-controls {
	cursor:pointer;
}
